#points {
  font-size: 15px;
  font-weight: bold;
}

#level {
  font-size: 15px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  margin: 10px;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url('Screenshot from 2023-02-09 11-45-15.png');
  background-size: cover;
  background-position: center;
  transition: 0.4 ease;

}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
}

p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
}

#form {
  text-align: center;
  margin-bottom: 40px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  margin: 0 auto;
  display: block;
}

.race-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

.race-table th,
.race-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.highlighted {
  background-color: #e6e6e6;
}


